<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .handler {
            border: 2px solid #7777ff;
            width: 300px;
            height: 120px;
            position: fixed;
            background: rgba(120, 142, 255, 0.6);
            border-radius: 15px;
            z-index: 300;
            right: 15px;
            top: 15px;
            justify-content: right;
            padding: 10px;
        }

        .handlerRow {
            width: 280px;
            height: 35px;
            margin: 10px;
            display: flex;
            justify-content: space-evenly;
            background: rgba(250, 252, 255, 0.7);
            border-radius: 15px;
        }

        .routingButton {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        .mapShade {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 500;
            background: rgba(32, 32, 32, 0.5);
            cursor: progress;
            display: none;
        }
    </style>
    <script src="/routing/ol.js"></script>

</head>

<body>
    <div id="map" class="map">
        <div class="handler">
            <p class="handlerRow">
                <button onclick="fnStartSetButton()"></button><span id="startLng">start : Lng , </span><span
                    id="startLat">start : Lat</span id="startLng">
            </p>
            <p class="handlerRow">
                <button onclick="fnEndSetButton()"></button><span id="endLng">end : Lng , </span><span id="endLat">end :
                    Lat</span id="endLat">
            </p>
            <p class="routingButton"><button onclick="getRouting()">찾기</button></p>
        </div>
        <div class="mapShade"></div>
    </div>
    <script>
        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            target: 'map',
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [126.89536213874817, 37.48130679130554],
                zoom: 17
            })
        });

        map.on('click', function (evt) {
            console.log(evt.coordinate)
            let map = document.getElementById('map')
            map.style.cursor = ""
            let startLng = document.getElementById('startLng')
            let startLat = document.getElementById('startLat')
            let endLng = document.getElementById('endLng')
            let endLat = document.getElementById('endLat')

            var iconFeature = new ol.Feature({
                geometry: new ol.geom.Point([evt.coordinate[0],evt.coordinate[1]]),
                name: 'node',
                population: 4000,
                rainfall: 500
            });


            switch (map.dataset.use) {
                case "start":
                    startLng.innerHTML = "startLng : " + evt.coordinate[0].toFixed(3) + " ,  "
                    startLat.innerHTML = "startLat : " + evt.coordinate[1].toFixed(3)
                    startNodeLng = evt.coordinate[0]
                    startNodeLat = evt.coordinate[1]
                    iconFeature.setStyle(pointStyle.startPoint);
                    fnSetPoint(0, iconFeature);

                    break;
                case "end":
                    endLng.innerHTML = "endLng : " + evt.coordinate[0].toFixed(3) + " ,  "
                    endLat.innerHTML = "endLat : " + evt.coordinate[1].toFixed(3)
                    endNodeLng = evt.coordinate[0]
                    endNodeLat = evt.coordinate[1]
                    iconFeature.setStyle(pointStyle.endPoint);
                    fnSetPoint(1, iconFeature);

                    break;
            }

            map.dataset.use = ""
        })


    </script>
    <script src="/routing/routing.js"></script>
</body>

</html>